@{
    ViewData["Title"] = "About";
}

@model Task<reference.Pais>;
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Mest"]</h3>

<h1>@Model.Result.nombre</h1>
<h1>@Model.Result.gobierno</h1>
<h1>@Model.Result.territorio</h1>

<p>Use this area to provide additional information.</p>
